@model IEnumerable<PacoteViewModel>

@{
    ViewData["Title"] = "Lista de Pacotes";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Atrativos</th>
            <th>Saída</th>
            <th>Retorno</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pacote in Model)
        {
            <tr>
                <td>@pacote.Id</td>
                <td>@pacote.Origem</td>
                <td>@pacote.Destino</td>
                <td>@pacote.Atrativos</td>
                <td>@pacote.Saida.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@pacote.Retorno.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-action="TelaEdicao" asp-route-id="@pacote.Id" class="btn btn-primary">Editar</a>
            </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="PainelUsuario" asp-controller="Home">Voltar</a>